<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= i18n('settings') %>
    </h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label for="name">
        <%= i18n('name') %>
      </label>
      <input class="form-control" name="name" id="name""" />
    </div>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label for="page">
        Välj startpunkt
      </label>
      <input class="form-control" data-types="sv:page,sv:sitePage" data-component="page-selector" name="page" id="page" />
    </div>
  </div>
</div>